<div class="card" style="margin-top: 10px;" *ngIf="(orders$ | async)?.length">
  <div class="card-header">Order History</div>
  <div class="card-body">
    <ng-container *ngIf="orders$">
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let item of orders$ | async">
            <td>{{ item.orderDate }}</td>
            <td><a [routerLink]="['/order-detail', item.orderId]">View</a></td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
