<div class="container mt-2">
  <div class="row margin-bottom">
    <div class="col col-md-4 offset-md-4 ">
      <a routerLink="/add" class="btn btn-dark">Add A New Product</a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 margin-bottom">
    <div class="col" *ngFor="let product of products$ | async">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Product Name : {{ product.name }}</li>
          <li class="list-group-item">Base Price : {{ product.basePrice  | currency}}</li>
          <li class="list-group-item">Base Price (inc. GST) : {{ CalculateTotalPrice(product.basePrice, product.taxAmount) | currency }}</li>
        </ul>
        <div class="card-body">
          <a [routerLink]="['/edit', product.id]" class="btn btn-dark"
            >Edit Product</a
          >
          <button class="btn btn-dark margin-left"
          (click)="addToCart(product)">Add to Cart <i class="fa fa-shopping-cart"></i></button
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col">
      <app-cart-items></app-cart-items>
      <app-order-list></app-order-list>
    </div>
  </div>
</div>